/*! Start Variables */
:root {
  --main-color: #2196f3;
  --alternative-color: #1787e0;
  --third-color: #403ca5;
  /* --secondary-color: #2c4755; */
  /* --main-paragraph-color: #c3c1c2; */
  --section-main-background-color: white;
  --section-alt-background-color: #ececec;
  --transparent-color: rgb(15 116 143 / 65%);

  --section-padding: 100px;
  --main-section-padding-top: 100px;
  --main-section-padding-bottom: 100px;

  --main-transition-duration: 0.3s;
}
/*! End Variables */

/*! Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
  /* cursor: pointer; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*! End Global Rules */

/*! Start Components */
/*? Start Main Header Components */
.main-header {
  text-transform: uppercase;
  position: relative;
  border: 2px solid black;
  font-size: 30px;
  width: fit-content;
  margin: 0 auto 100px;
  padding: 10px 20px;
  transition: var(--main-transition-duration);
  z-index: 1;
}

.main-header:hover {
  color: white;
  border: 2px solid white;
  transition-delay: var(--main-transition-duration);
}

.main-header::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1787e0;
}

.main-header::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1787e0;
}

.main-header:hover::before {
  animation: fill-from-left var(--main-transition-duration) linear forwards;
}

.main-header:hover::after {
  animation: fill-from-right var(--main-transition-duration) linear forwards;
}
/*? End Main Header Components */

/*! End Components */

/*! Start Header */
.header {
  position: relative;
  /* width: 100%; */
  /* left: 0; */
  /* z-index: 3; */
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

.header .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 97px;
}

.header .container .logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
@media (max-width: 991px) {
  .header .container .logo {
    width: 0;
  }
} */

@media (max-width: 767px) {
  .header .container .logo {
    width: 100%;
    /* height: 50%; */
  }
}

.header .container .main-nav {
  display: flex;
}

@media (max-width: 767px) {
  .header .container .main-nav {
    margin: auto;
  }
}

.header .container .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 1;
  top: 100%;
  /* border-top: 1px solid var(--main-color); */
  margin-top: 2px;
}

/* !! Maybe we need it if the header like goes out of the range !!
@media (max-width: 991px) {
  .header .container .main-nav {
    max-width: 86%;

  }
} */

.header .container .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 50px;
  font-size: 18px;
  color: black;
  transition: var(--main-transition-duration);
  overflow: hidden;
  height: 97px;
}

@media (max-width: 767px) {
  .header .container .main-nav > li > a {
    font-size: 14px;
    padding: 10px;
    height: 50%;
  }
}

@media (min-width: 768px) {
  .header .container .main-nav > li > a {
    padding: 0 40px;
  }
}

.header .container .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition-duration);
}

.header .container .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
  border-top: 1px solid var(--main-color);
}

.header .container .main-nav > li > a:hover::before {
  left: 0;
}

/*? --- Start Mega Menu --- */
.header .container .main-nav .mega-menu {
  z-index: -1;
  position: absolute;
  top: calc(100% + 30px);
  left: 0;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  padding: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  opacity: 0;
  transition:
    top var(--main-transition-duration),
    opacity var(--main-transition-duration);
}

@media (max-width: 767px) {
  .header .container .main-nav .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 3px 0;
  }
}

.header .container .main-nav .mega-menu .links {
  min-width: 197px;
  flex: 1;
}

.header .container .main-nav .mega-menu .links li {
  position: relative;
}

@media (max-width: 767px) {
  .header
    .container
    .main-nav
    .mega-menu
    .links:first-of-type
    > li:nth-child(5) {
    border-bottom: 1px solid #efeded;
  }
}

.header .container .main-nav .mega-menu .links li:not(:last-of-type) {
  border-bottom: 1px solid #efeded;
}

.header .container .main-nav .mega-menu .links li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  z-index: -1;
  transition: var(--main-transition-duration);
}

.header .container .main-nav .mega-menu .links li:hover::before {
  width: 100%;
}

.header .container .main-nav .mega-menu .links li a {
  color: var(--main-color);
  font-weight: bold;
  display: block;
  padding: 13px;
  font-size: 1rem;
}

.header .container .main-nav .mega-menu .links li i {
  /* padding-right: 35px; */
  margin-right: 15px;
}

.header .container .main-nav .mega-menu .image img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .header .container .main-nav .mega-menu .image img {
    display: none;
  }
}
/*? --- End Mega Menu --- */
/*! End Header */

/*! Start Landing */
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 97px);
  display: flex;
  align-items: center;
  padding-bottom: 150px;
}

.landing .container .text {
  flex: 1;
}

@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
}

.landing .container .text h1 {
  letter-spacing: -2px;
  font-size: 48px;
  margin: 0;
}

@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 30px;
  }
}

.landing .container .text p {
  max-width: 500px;
  color: #858585;
  line-height: 1.5;
  font-size: 20px;
  /* letter-spacing: 0.7px; */
  margin: 10px 0 0;
}

@media (max-width: 767px) {
  .landing .container .text p {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .landing .container .text p {
    margin: 20px auto;
  }
}

.landing .container .image img {
  position: relative;
  width: 600px;
  /* max-width: 100%; */
  animation: move-up-down 3s linear infinite;
}

@media (max-width: 991px) {
  .landing .container .image img {
    display: none;
  }
}

.landing .next-page {
  color: var(--main-color);
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition-duration);
}

.landing .next-page:hover {
  color: var(--third-color);
}

.landing .next-page i {
  position: relative;
  animation: bouncing 1.3s infinite;
}
/*! End Landing */

/*! Start Articles */
.articles {
  position: relative;
  padding-top: var(--main-section-padding-top);
  padding-bottom: var(--main-section-padding-bottom);
  background-color: var(--section-main-background-color);
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .container .articles-content-box {
  border-radius: 3%;
  overflow: hidden;
  box-shadow: 0 2px 15px rgb(0 0 0 / 15%);
  transition:
    transform var(--main-transition-duration),
    box-shadow var(--main-transition-duration);
}

.articles .container .articles-content-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
}

.articles .container .articles-content-box .image {
  max-width: 100%;
}

.articles .container .articles-content-box .articles-content {
  /* margin: 20px 15px; */
  padding: 20px;
}

.articles .container .articles-content-box .articles-content h3 {
  margin-bottom: 10px;
}

.articles .container .articles-content-box .articles-content p {
  color: #858585;
  line-height: 1.4;
}

.articles .container .articles-content-box .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 20px 15px; */
  padding: 20px;
  border-top: 1px solid #eceaea;
}

.articles .container .articles-content-box .info a {
  color: var(--main-color);
  font-weight: bold;
  /* margin-top: 15px; */
}

.articles .container .articles-content-box .info i {
  /* margin-top: 15px; */
  color: var(--main-color);
}

.articles .container .articles-content-box:hover .info i {
  animation: move-to-the-right var(--main-transition-duration) linear infinite;
}
/*! End Articles */

/*! Start Gallery */
.gallery {
  position: relative;
  padding-top: var(--main-section-padding-top);
  padding-bottom: var(--main-section-padding-bottom);
  background-color: var(--section-alt-background-color);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .container .gallery-content-box {
  padding: 15px;
  background-color: white;
  overflow: hidden;
  box-shadow:
    0px 12px 20px 0px rgb(0 0 0 / 15%),
    0px 2px 4px 0px rgb(0 0 0 / 13%);
}

.gallery .container .gallery-content-box .image {
  position: relative;
  overflow: hidden;
}

.gallery .container .gallery-content-box .image::before {
  content: "";
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0px;
  height: 0px;
  opacity: 0;
}

.gallery .container .gallery-content-box .image:hover::before {
  animation: flashing 0.7s;
}

.gallery .container .gallery-content-box .image img {
  max-width: 100%;
  transition: var(--main-transition-duration);
}

.gallery .container .gallery-content-box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/*! End Gallery */

/*! Start Features */
.features {
  position: relative;
  padding-top: var(--main-section-padding-top);
  padding-bottom: var(--main-section-padding-bottom);
  background-color: var(--section-main-background-color);
}

.features .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*! End Features */

/*! Start Animation */
@keyframes move-up-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -70px;
  }
}

@keyframes bouncing {
  0%,
  15%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-30px);
  }
}

@keyframes fill-from-left {
  50% {
    left: 0;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes fill-from-right {
  50% {
    right: 0;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes move-to-the-right {
  100% {
    transform: translateX(-20px);
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
/*! End Animation */
